[KIS]
KIS_BASE_URL="https://openapi.koreainvestment.com:9443"
KIS_APP_KEY="THIS_ACCOUNT_APP_KEY"
KIS_APP_SECRET="THIS_ACCOUNT_APP_SECRET"
KIS_ACCOUNT_NO="THIS_ACCOUNT_NO"
KIS_HTS_ID="THIS_ACCOUNT_HTS_ID"

[TELEGRAM]
enabled=false
token=YOUR_BOT_TOKEN_HERE
chat_id=YOUR_CHAT_ID_HERE
